@import "variables";

body {
	font-family: $font-family;
}

h1 {
	text-align: center;
}

#clear-button {
	float: right;
	margin-bottom: 10px;
	color: white;
	background-color: #6E5745;
	padding: 4px;
	text-decoration: none;
}

section {
	position: relative;
	margin: 0 auto;
	width: $canvas-width + 8px; // + canvas border
}

#canvas {
	display: inline-block;
	width: $canvas-width;
	height: $canvas-height;
	border: {
		width: 3px;
		color: #000;
		style: solid;
	}
}

#can {
	content: url(../img/can.png);
	position: absolute;
	bottom: 0;
	right: 0;
}

#move, #drop {
	position: absolute;
    left: -100px;
}

#drop {
	top: 70px;
	visibility: hidden;
	-webkit-transition: visibility 1s ease-in-out 1s;
}

#batman {
	height: 300px;
	content: url(../img/batman-bomb.png);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: left 1s ease-in-out 0.2s;
  }

  #move:hover ~ #batman {
    left: calc(100% - 350px);
  }

  #move:hover ~ #drop {
  	visibility: visible;
  }

  #drop:active ~ #batman {
  	height: 200px;
  	content: url(../img/batman-win.png);
  }

  // Not working
   #drop:visited ~ #batman {
  	content: url(../img/batman-win.png);
  }

  #drop:active ~ #can {
  	content: url(../img/can-explosion.png);
  }

  // Not working
  #drop:visited ~ #can {
  	content: url(../img/can-explosion.png);
  }
